@import './input.css';
@import './theme.css';

body {
  display: flex;
  margin: 0;
  overflow: hidden;
  font-size: 15px;
}

.view-root {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  height: 100vh;
  padding: 12px;
  overflow: hidden;
}

.search-combobox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  overflow-x: hidden;
}

.search-content {
  overflow-y: auto;
  flex: 1;
  align-self: stretch;
  margin: 12px 0;
}

.inputbox {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 50%;
  padding: 6px;

  outline: none;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: inherit;
  background-color: transparent;
}

.item {
  padding: 6px;
  margin: 0 12px;
  height: 22px;
  contain: strict;
  content-visibility: auto;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item[data-has-group="true"] {
  border-left: 2px solid var(--group-color);
  margin-left: -2px;
  padding-left: 18px;
}

s-group {
  display: block;
  border-left-style: solid;
  border-left-width: 2px;
}

s-group + s-group {
  margin-top: 16px;
}

.suggestion-group-label {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block;
  line-height: 2;
  padding: 8px 10px;
}

.tab-group {
  display: block;
  margin-left: -2px;

  border-left-width: 2px;
  border-left-style: solid;
}

.tab-group:not(:last-of-type) {
  margin-bottom: 10px;
}

.item-url {
  padding: 0 6px;

  font-style: italic;
}

.tab-url[title-matches="true"] {
  display: none;
}
