.inputbox {
  border-color: var(--border-color);
}

.input-line {
  background-color: var(--primary-theme-color);
}

s-group {
  border-left-color: var(--border-color);
}

s-group[has-nested-groups] {
  border-left-color: transparent;
}

[group-color="0"] {
  border-color: #448aff;
}

[group-color="1"] {
  border-color: #536dfe;
}

[group-color="2"] {
  border-color: #40c4ff;
}

[group-color="3"] {
  border-color: #69f0ae;
}

[group-color="4"] {
  border-color: #ff5252;
}

[group-color="5"] {
  border-color: #e040fb;
}

[group-color="6"] {
  border-color: #7c4dff;
}

[group-color="7"] {
  border-color: #b2ff59;
}

[group-color="8"] {
  border-color: #ffd740;
}

[group-color="9"] {
  border-color: #ffab40;
}

[role="option"][aria-selected="true"] {
  color: var( --light-text-color);
  background-color: var(--highlighted-background-color);
}

:focus-within [role="option"][aria-selected="true"] {
  color: var( --light-text-color);
  background-color: var(--primary-theme-color);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background-color: var(--primary-background-color);
  border-width: 6px;
  border-style: solid;
  border-color: var(--primary-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-theme-color);
}

body,
.theme-bg {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

.secondary-text {
  color: var(--secondary-color);
}

html {
  --light-text-color: #eee;
  --highlighted-background-color: #616161;
}

@media (prefers-color-scheme: dark) {
  html {
    --primary-background-color: #212121;
    --primary-color: var( --light-text-color);
    --primary-theme-color: #2962ff;
    --border-color: rgba(255, 255, 255, 0.24);
    --secondary-color: #999;
    --secondary-background-color: #424242;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --primary-background-color: #f5f5f5;
    --primary-color: #000;
    --primary-theme-color: #2962ff;
    --border-color: rgba(0, 0, 0, 0.24);
    --secondary-color: #bbb;
    --secondary-background-color: #e0e0e0;
  }
}